:root {
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;

    --heliotrope: 


}

::selection {
    
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5em;
}

html {
    font-size: 62.5%;
}

/* make heading overflow */
margin: -4rem 0 1.5rem 0;

h1,
h2,
h3,
h4,
h5,
h6{

}